{% block content %}
{% load static %}




<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">



        <img src="{% static 'logo.png' %}" id="logopic"></a>

        <nav class="nav-menu d-none d-lg-block">

            <ul>




                <li><a class="nav-link" href="{% url 'employee-home'   %}">Home <span
                            class="sr-only">(current)</span></a></li>
                <li><a class="nav-link" href="{% url 'employee-profile'  %}">Profile</a></li>
                <li><a class="nav-link" href="{% url 'employee_applications' %}">Applications</a></li>
                <li> <a class="nav-link " href="{% url 'findjob'  %}">Find Job</a></li>
                <li> <a class="nav-link" href="{% url 'notifications'  %}">Notifications ({{ notifications.count }})</a>
                <li> <a class="nav-link" href="{% url 'logout'  %}">Logout</a></li>
            </ul>

        </nav><!-- .nav-menu -->

        <a href="index.html" class="get-started-btn ml-auto">About Us</a>

    </div>
</header><!-- End Header -->

{% endblock %}