{% extends 'employer/core.html' %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3> You have been granted access to {{employee.first_name}} {{employee.last_name}} profile!
                            </h3>
                        </div>
                        <div class="col-md-12">
                            <img class="card-img-top" alt="Card image cap" height="100px"
                                src="https://images.unsplash.com/photo-1617957689187-997a52cd5e76?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img src="{{employee.avatar.url}}" alt="Admin" class="rounded-circle"
                                            width="150">
                                        <div class="mt-3">

                                            <h4>{{employee.first_name}} {{employee.last_name}}</h4>
                                            <p class="text-secondary mb-1">{{employee.title}}</p>
                                            <p class="text-muted font-size-sm">{{employee.city}},{{employee.county}}</p>
                                            <p class="text-muted font-size-sm">{{employee.email}}</p>
                                            <p class="text-muted font-size-sm">{{employee.phone_number}}</p>
                                            <div class="actions">

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">

                                        <div class="mt-3">

                                            <h4>Interview Details</h4>
                                            <p> Job: {{ job.title }}</p>
                                            <p> Date: {{ interviewdetails.date}}</p>
                                            <p> Location: {{ interviewdetails.location}}</p>
                                            <p> Interview Status: {{ interviewdetails.application.status}}</p>
                                            <div class="actions">

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">

                                        {% if personalitys %}
                                        {% for personality in personalitys %}

                                        <tr>





                                            {% if personality.group == "sj" %}
                                            <h3> This person is part of the beaver group</h3>
                                            <img src="{% static 'beaver.png' %}" alt="Admin" class="rounded-circle"
                                                width="200">
                                            <p> This person is part of the Beaver group</p>

                                            {% elif personality.group == "nt" %}
                                            <img src="{% static 'owls.png' %}" alt="Admin" class="rounded-circle"
                                                width="150">
                                            <p> YThis person is part of the Owl group</p>
                                            {% elif personality.group == "sp" %}
                                            <img src="{% static 'fox.png' %}" alt="Admin" class="rounded-circle"
                                                width="150">
                                            <p> You are part of the Fox group</p>
                                            {% else %}
                                            <img src="{% static 'elephant.png' %}" alt="Admin" class="rounded-circle"
                                                width="150">
                                            <p> This person is part of the Elephant group</p>
                                            {% endif %}

                                            <p> Your work animal represents who you are as a person and your behavioural
                                                tendencies in
                                                work. For more information please click <a href="{% url 'rational'  %}">
                                                    here</a>
                                                {% endfor %}
                                                {% else %}

                                                <img src="{% static 'animals.png' %}" class="img-fluid" id="animals"
                                                    alt="Responsive image">
                                            <p> This persons personality animal type has not been found yet. .</p>
                                            {% for quiz in quizs %}
                                            <a class="nav-link" href="{% url 'quiz-home' pk=quiz.pk %}">Animal Work
                                                Personality Test</a>
                                            {% endfor %}


                                            {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <table class="table table-sm">
                                            <tr>
                                                <th>Skills</th>
                                                <th> Experience</th>



                                            </tr>

                                            {% for skill in skills %}
                                            {% for experience in experiences %}
                                            <tr>

                                                <td>{{skill.title}}</td>
                                                <td>{{experience.role}}</td>


                                                {% endfor %}
                                                {% endfor %}
                                            </tr>
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}