{% extends 'employer/core.html' %}
{% load static %}
{% block content %}






<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6">
                <h2>The job is now posted.</h2>
                <h3>Thank you for choosing Connect2. </h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    In the meantime, below is information regarding the predicted ideal personality type for the job you
                    have listed. Candidates with this personality type will be granted bonus points in our application
                    ranking system.
                </p>
                <p class="font-italic">
                    Character traits are not something you can teach, so when you need candidates with certain soft
                    skills, your best bet is to hire based on personality and then teach the hard skills.
                </p>

            </div>
        </div>

    </div>
</section><!-- End About Section -->



<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Ideal Personality type</h2>
            <p>Beaver</p>
        </div>
        <div class="row">

            <div class="col-md-8">
                <p> The ideal personality type for this job is Beaver. For more infomration on the different animal
                    types click <a href="{% url 'employer-profile'  %}">here.</a></p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="{% static 'beaver.png' %}" class="img-fluid" alt="Responsive image" id="elephant">
            </div>
            <div class="col-md-3">
                <img src="{% static 'beaver.png' %}" class="img-fluid" alt="Responsive image" id="elephant">
            </div>
            <div class="col-md-3">
                <img src="{% static 'beaver.png' %}" class="img-fluid" alt="Responsive image" id="elephant">
            </div>
            <div class="col-md-3">
                <img src="{% static 'beaver.png' %}" class="img-fluid" alt="Responsive image" id="elephant">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon-box">
                    <i class="icofont-computer"></i>
                    <h4><a href="#">Organised</a></h4>
                    <p> Beavers information-gathering process is practical and realistic to which they prefer to give
                        organisation and structure. At work, Beavers make phenomenal administrators of systems which
                        require precision. They tend to have incredibly high standards and seek predictability,
                        stability and comfort. At work, they tend to prefer environments with no surprises and where
                        rules and regulations are established and adhered to.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-chart-bar-graph"></i>
                    <h4><a href="#">Team Players</a></h4>
                    <p> Beavers are loyal, patient and gentle. They are often the glue that holds a team together as
                        they seek to nurture and support others. They are incredibly compassionate, caring and they
                        enjoy looking after others to ensure their safety. Beavers are happy to be part of a team,
                        whether it is a follower or a leader. They have a desire to protect their community and values.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-image"></i>
                    <h4><a href="#"> Practical </a></h4>
                    <p>For a start, all beavers share a ‘sensing’ preference. This means they tend to focus on facts and
                        details, rather than ideas and concepts. Due to this, all beavers tend not to be attracted to
                        idle speculations and are most at home in the real world. At work, they have an eye toward
                        practical applications in managing material things.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-settings"></i>
                    <h4><a href="#"> Proactive</a></h4>
                    <p>Beavers are informative and reactive. They tend to work to spot problems before they occur and
                        act in advance. When they communicate with others, they tend to do direct them. They are highly
                        motivated to use their organizational skills and follow procedures as for Beavers in the long
                        run loyalty, discipline, and teamwork get the job done right.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-earth"></i>
                    <h4><a href="#"> Dutiful </a></h4>
                    <p> Beavers take pride in being dependable and trustworthy; if there's a job to be done, they can be
                        counted on to put their shoulder to the wheel. Beavers also believe in law and order, and
                        sometimes worry that respect for authority, even a fundamental sense of right and wrong, is
                        being lost. Perhaps this is why Beavers honor customs and traditions so strongly -- they are
                        familiar patterns that help bring stability to our modern, fast-paced world. </p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-tasks-alt"></i>
                    <h4><a href="#"> Cooperative </a></h4>
                    <p>Beavers are the glue of civilization, maintaining and nurturing institutions that have been
                        established by the dint of hard work. They tend to be conventional and cooperative in their
                        work, wanting to make sure everybody gets what they deserve, no more and no less. They follow
                        the rules of their cohort or group and expect others to as well. A Beavers self-esteem is based
                        on their dependability; their self-respect on their beneficence; and their self-confidence on
                        their respectability.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</section><!-- End Services Section -->



</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Sailor</h3>
                        <p>
                            A108 Adam Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Sailor</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock %}