.navbar {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

.form-group {
text-align: center;
  
}

.applicationz {
  text-align: center;
  
}

#job_pic {

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

#greentic {

  display: block;
  
  margin-left: 40px;
  height: 40px;
}
#job_pic3 {

 
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#redex {

 
  height: 40px;

  margin-left: 20px;
  margin-bottom: 20px;
}


#owl{
  text-align: center;
  height: 240px;
  margin-left: 30px;
}
#textalign {
  text-align: center;
}
#endnt {
  margin-top: 50px;
}

#nthead{
  text-align: center;
  margin-bottom: 40px;
}

#jobbuttons {
  padding-bottom: 20px;
  padding-top: 20px;
}


#p1 {
  padding-left: 350px;
}

table {
  counter-reset: tableCount;     
}
.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}

